[Unit]
Description=acc-vid startup script

[Service]
ExecStart=/usr/bin/acc-vid.sh
Restart=always
RestartSec=5
StartLimitInterval=30
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
